.menu__navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu__link {
    color: white;
    padding: 1.5rem;
}

.menu__link:hover {
    background-color: rgb(179, 9, 9);
    transition: 1s;
}