<h3 class="imc__title">Índice de massa corporal</h3>
<p class="imc__text">O índice de massa corporal (IMC) é uma medida internacional usada para calcular se uma pessoa está no peso ideal. Desenvolvido pelo polímata Lambert Quételet no fim do século XIX, trata-se de um método fácil e rápido para a avaliação do nível de gordura de cada pessoa, sendo, por isso, um preditor internacional de obesidade adotado pela Organização Mundial da Saúde (OMS).</p>

<h3 class="imc__title">Como calcular</h3>
<p class="imc__text">O IMC é determinado pela divisão da massa do indivíduo pelo quadrado de sua altura, em que a massa está em quilogramas e a altura em metros.</p>

<h3 class="imc__title">Exemplo de IMC</h3>
<p class="imc__text">Para uma pessoa com 90 quilogramas de massa e 1,75 metros de altura, teremos: <br><br> <b>IMC</b>: 90kg / 1,75m * 1,75m = 29,387kg/m²</p>

<p class="imc__text">Fonte: <a target="_blank" href="https://pt.wikipedia.org/wiki/%C3%8Dndice_de_massa_corporal">https://pt.wikipedia.org/wiki/%C3%8Dndice_de_massa_corporal</a></p>