.section__menu {
    background-color: rgb(39, 39, 39);
    padding: .5rem 0;
}

.section__block {
    background-color: rgb(165, 222, 255);
    padding: 6rem 0;
    height: 100%;
}

.section__block div {
    display: flex;
    flex-direction: row;
}

.section__calculator {
    width: 50%;
}

.section__calculator-details {
    width: 50%;
}

.section__footer {
    background-color: rgb(39, 39, 39);
    padding: 1rem 0;
}

@media screen and (max-width: 768px) {
    .section__menu div  {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    
    .section__block {
        padding-bottom: 5rem;
        height: auto;
    }
    
    .section__block div {
        flex-direction: column;
        align-items: center;
    }

    .section__calculator-details {
        padding: 2rem 0;
    }
}