<section class="section__menu">
  <div class="container">
    <app-main-menu></app-main-menu>
  </div>
</section>

<section class="section__block">
  <div class="container">
    <div class="section__calculator">
      <app-calculator></app-calculator>
    </div>

    <div class="section__calculator-details">
      <app-calculator-details></app-calculator-details>
    </div>
  </div>
</section>

<section class="section__footer">
  <div class="container">
    <app-footer></app-footer>
  </div>
</section>